@import '~/assets/colors.scss';
@import '~/assets/fonts.scss';


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}
::-webkit-scrollbar {
	display: none;
}

body {
	font-family: 'codec';
	h2 {
		font-family: 'codec_bold';
	}
	color:white;
	background-color: #000;

}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	min-height: 100vh;
	width:100%;
}

section {
	width: 100%;
	min-height: 100vh;
	padding: 0 10%;
	user-select: none;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}